*{
    margin: 0px;
    padding: 0px; 
    box-sizing: border-box;
   }
   
   h5{
       color: aliceblue;
   }
   
   .imgcarrito{
    padding: 1%;
    width: 5%;
    height: 2%;
   }
   nav,
   .offcanvas {
     background-color: royalblue;
   }
   .navbar-toggler {
     border: none;
   }
   .navbar-toggler:focus {
     outline: none;
     box-shadow: none;
   }
   
   @media (max-width: 768px) {
     .navbar-nav > li:hover {
       background-color: cornflowerblue;
     }
   }
   
   .imagen{
       width: 5%;
       height: 5%;
       padding: 1%;
   }
   
   .lateralmenu{
       background-color: royalblue;
   }
   #lateral{
     background-color: royalblue;
   }
   

   /*
   ejemplo grid responsive
   
   {
display: grid;
gap: 1rem;
grid-auto-rows: 22rem;       auto-fit= ocupa todo el espacio
grid-template-columns: repeat(auto-fill, minmanx(15rem, 1fr))


   } */